.project
.cproject
Makefile
*.bak
powerpc
x86*
SL-INSTALL
i486/
.settings
.cproject
.project
.DS_Store
*.pyc
.parameter_pool_vars
CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
catkin/
catkin_generated/
cmake_install.cmake
devel/